/* NAV */
nav {
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
  background-color: white;
  opacity: 0.8;
}

.text {
  position: relative;
  overflow: hidden;
}

.text::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #feb404;
  transition: width 0.3s ease;
}

.menu-btn {
  display: none;
  font-size: 12px;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: #0095c8;
  transition: all .3s;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: -50px;
  margin-bottom: 20px;
}

.text:hover::before {
  width: 100%;
}

.contact-btn {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: #0095c8;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.contact-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: #feb404;
  transition: all .3s;
  z-index: -1;
}

.contact-btn:hover {
  color: white;
  &::before {
    width: 100%;
  }
}


/* HOME PAGE */
.home-header .home-left,
.about-header .about-left,
.curriculumn-header .curriculumn-left,
.careers-header .careers-left,
.contact-header .contact-left {
  width: 30%;
  height: 60%;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-right-color: transparent;
}

.home-header .home-right,
.about-header .about-right,
.curriculumn-header .curriculumn-right,
.careers-header .careers-right,
.contact-header .contact-right {
  background-color: rgba(255, 255, 255, 0.7);
  width: 20%;
  height: 40%;
  border-radius: 50%;
  margin-left: -100px;
  padding: 50px;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  background-image: url('/public/images/home.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header .home-right h1 {
  padding-top: 50px;
  font-size: 25px;
  color: #0095c8;
  text-align: center;
  font-family: "Philosopher", sans-serif;
}

.home-content1 {
  display: flex;
  width: 100%;
  height: 80vh;
  margin-bottom: 20px;
}

.home-content1 .content1-left {
  width: 50%;
  height: 100%;
  padding: 30px 80px;
}

.home-content1 .content1-left h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 30px;
}

.home-content1 .content1-left hr {
  width: 25%;
  height: 3px;
  border: none;
  margin: 2px 0;
  background-color: #a22c4e;
}

.home-content1 .content1-left p {
  padding-top: 20px;
  font-size: 15px;
}

.home-content1 .content1-right {
  margin: 50px 100px;
  width: 35%;
  height: 80%;
  border-radius: 50%;
  background-image: url(/public/images/home_welcome.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-us {
  height: 50vh;
  padding-top: 50px;
  background-color: #004c65;
  text-align: center;
  color: whitesmoke;
}

.contact-us h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 40px;
  padding-top: 22px;
}

.contact-us hr {
  width: 70%;
  height: 2px;
  border: none;
  margin: 20px 200px;
  background-color: white;
}

.contact-us p {
  font-weight: 300;
  font-size: 18px;
}

.contact-us .contact-us-btn {
  display: inline-block;
  padding: 10px 24px;
  font-size: 14px;
  background-color: #0095c8;
  border-radius: 20px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.contact-us .contact-us-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #feb404;
  transition: all .3s;
  z-index: -1;
}

.contact-us .contact-us-btn:hover {
  color: white;
  &::before {
    width: 100%;
  }
}

.icons {
  display: flex;
  width: 100%;
  height: 40vh;
}

.icons .students, .staff, .nationalities, .educators, .ratio {
  width: 20%;
  height: 100%;
}

.students {
  background-color: #e06287;
  padding-top: 40px;
}

.staff {
  background-color: #0095c8;
  padding-top: 40px;
}

.nationalities {
  background-color: #feb404;
  padding-top: 40px;
}

.educators {
  background-color: #a22c4e;
  padding-top: 40px;
}

.ratio {
   background-color: #366e83;
   padding-top: 40px;
}

/* ABOUT PAGE */
.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  background-image: url(/public/images/about.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-header .about-right h1 {
  text-align: center;
  font-size: 25px;
  padding-top: 30px;
  color: #feb404;
  font-family: "Philosopher", sans-serif;
}

.about-principal h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 36px;
  padding: 35px;
  padding-bottom: 0;
}

.about-principal hr {
  width: 10%;
  height: 3px;
  border: none;
  margin-left: 25px;
  background-color: #0095c8;
}

.principal-container {
  display: flex;
  width: 100%;
  height: 65vh;
}

.about-principal .principal-left {
  width: 30%;
  height: 80%;
  margin: 25px 150px;
  border-radius: 50%;
  background-image: url(/public/images/principal.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-principal .principal-right {
  width: 50%;
  height: 100%;
}

.about-principal .principal-right p {
  text-align: justify;
  padding-top: 80px;
  padding-right: 150px;
}

.about-principal .principal-right h2 {
  padding-top: 30px;
  font-size: x-large;
  font-weight: bold;
}

.about-principal .principal-right span {
  font-weight: 200;
  font-size: small;
}

.about-principal .principal-right .button {
  display: inline-block;
  padding: 10px 24px;
  margin-top: 10px;
  background-color: #0095c8;
  text-align: center;
  font-weight: 300;
  color: white;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.about-principal .principal-right .button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #feb404;
  transition: all .3s;
  z-index: -1;
}

.about-principal .principal-right .button:hover {
  color: white;
  &::before {
    width: 100%;
  }
}

.experience-container {
  display: flex;
  width: 100%;
  height: 80vh;
  padding: 0 60px;
}

.experience-left {
  width: 50%;
  height: 100%;
  padding:0 30px;
}

.experience-left h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 30px;
}

.experience-right {
  width: 50%;
  height: 100%;
  background-image: url(/public/images/school.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.deputy-container {
  display: flex;
  width: 100%;
  height: 80vh;
  padding: 0 60px;
}

.deputy-container .deputy-left {
  width: 50%;
  height: 100%;
  background-image: url(/public/images/deputy.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.deputy-container .deputy-right {
  width: 50%;
  height: 100%;
  padding: 60px 40px;
}

.deputy-container .deputy-right h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 30px;
}

.deputy-container .deputy-right hr {
  width: 13%;
  height: 5px;
  border: none;
  background-color: #004c65;
  margin-bottom: 14px;
}

.deputy-container .deputy-right span {
  font-weight: bold;
  font-size: 19px;
  color: #366e83;
}

/* CURRICULUMN PAGE */
.curriculumn-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  background-image: url(/public/images/curriculumn.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.curriculumn-header .curriculumn-right h1 {
  font-size: 25px;
  padding-top: 50px;
  text-align: center;
  margin-left: -10px;
  color: #e06287;
  font-family: "Philosopher", sans-serif;
}

.junior-container {
  display: flex;
  width: 100%;
  height: 60vh;
}

.junior-container .junior-left {
  width: 50%;
  height: 100%;
  padding: 100px 60px;
  margin-left: 50px;
}

.junior-container .junior-left h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}

.junior-container .junior-right {
  width: 30%;
  height: 90%;
  margin-top: 50px;
  margin-left: 80px;
  border-radius: 50%;
  border: 10px solid;
  border-left-color: #feb404;
  border-right-color: #ffff;
  border-top-color: #e06287;
  border-bottom-color: #0095c8;
  background-image: url(/public/images/junior.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.senior-container {
  display: flex;
  width: 100%;
  height: 60vh;
  margin-top: 90px;
}

.senior-container .senior-left {
  width: 30%;
  height: 90%;
  margin-left: 160px;
  border-radius: 50%;
  border: 10px solid;
  border-left-color: white;
  border-right-color: #feb404;
  border-top-color: #0095c8;
  border-bottom-color: #e06287;
  background-image: url(/public/images/senior.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.senior-container .senior-right {
  width: 50%;
  height: 100%;
  padding-top: 80px;
  padding-left: 100px;
}

.senior-container .senior-right h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}

.junior-container .junior-left .button,
.senior-container .senior-right .button {
  display: inline-block;
  padding: 12px 15px;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: #0095c8;
  border-radius: 30px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.junior-container .junior-left .button::before,
.senior-container .senior-right .button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #feb404;
  transition: all .3s;
  z-index: -1;
}

.junior-container .junior-left .button:hover,
.senior-container .senior-right .button:hover {
  color: white;
  &::before {
    width: 100%;
  }
}

.typical-day .h1 {
  height: 17vh;
  text-align: center;
  padding-top: 25px;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  background-color: #feb404;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 70vh;
}

.grid-item-1 {
  grid-area: 5 / 1 / 9 / 3;
  background-image: url(/public/images/image5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grid-item-2 {
  grid-area: 1 / 1 / 5 / 3;
}
.grid-item-3 {
  grid-area: 5 / 3 / 9 / 5;
}
.grid-item-4 {
  grid-area: 1 / 3 / 5 / 5;
  background-image: url(/public/images/home1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grid-item-5 {
  grid-area: 5 / 5 / 9 / 7;
  background-image: url(/public/images/image2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grid-item-6 {
  grid-area: 1 / 5 / 5 / 7;
}
.grid-item-7 {
  grid-area: 5 / 7 / 9 / 9;
}
.grid-item-8 {
  grid-area: 1 / 7 / 5 / 9;
  background-image: url(/public/images/image3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-item {
  padding: 30px;
  text-align: center;
}

.grid-item h2 {
  font-size: 24px;
  font-weight: bold;
}

/* CAREERS PAGE */
.careers-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  background-image: url(/public/images/careers.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.careers-header .careers-right h1 {
  text-align: center;
  font-family: "Philosopher", sans-serif;
  font-size: 25px;
  padding-top: 50px;
  color: #feb404;
}

.millicent-container {
  display: flex;
  width: 100%;
  height: 70vh;
}

.millicent-container .millicent-left {
  width: 30%;
  height: 80%;
  border-radius: 50%;
  margin: 40px 100px;
  background-image: url(/public/images/millicent.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.millicent-container .millicent-right {
  width: 50%;
  height: 100%;
  padding: 100px 0px;
}

.millicent-container .millicent-right h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 28px;
  color: #a22c4e;
}

.millicent-container .millicent-right span {
  font-size: 18px;
  color: #e06287;
}

.millicent-container .millicent-right p {
  padding-top: 10px; 
}

.others-container {
  display: flex;
  width: 100%;
  height: 70vh;
}

.others-container .others-left {
  display: flex;
  width: 50%;
  height: 100%;
  background-image: url(/public/images/Hanna.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;

}

.others-container .others-left .others-left-left {
  width: 50%;
  height: 100%;
}

.others-container .others-left .others-left-right {
  width: 50%;
  height: 100%;
  padding: 50px;
}

.others-container .others-right {
  display: flex;
  width: 50%;
  height: 100%;
  background-image: url(/public/images/Tuuli.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.others-container .others-right .others-right-left {
  width: 50%;
  height: 100%;
}

.others-container .others-right .others-right-right {
  width: 50%;
  height: 100%;
  padding: 50px;
}

.others-container .others-left .others-left-right h2,
.others-container .others-right .others-right-right h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
  color: #a22c4e;
}

.others-container .others-left .others-left-right span,
.others-container .others-right .others-right-right span {
  font-size: 14px;
  color: #e06287;
}

.others-container .others-left .others-left-right p,
.others-container .others-right .others-right-right p {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 14px;
}

.others-container .others-right .others-right-right h2,
.others-container .others-right .others-right-right p {
  padding-left: 30px;
}

.others-container .others-left .others-left-right .button,
.others-container .others-right .others-right-right .button {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #0095c8;
  color: white;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.others-container .others-right .others-right-right .button {
  margin-left: 30px;
}

.others-container .others-left .others-left-right .button::before,
.others-container .others-right .others-right-right .button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #feb404;
  transition: all .3s;
  z-index: -1;
}

.others-container .others-left .others-left-right .button:hover,
.others-container .others-right .others-right-right .button:hover {
  color: white;
  &::before {
    width: 100%;
  }
}

.opportunities-container {
  height: 50vh;
  padding: 40px 250px;
  text-align: center;
  font-size: 18px;
  background-color: #004c65;
  color: white;
}

.opportunities-container p {
  padding-bottom: 60px;
}

.opportunities-container .vacancies {
  display: inline-block;
  background-color: #0095c8;
  padding: 8px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.opportunities-container .vacancies::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #feb404;
  transition: all .3s;
  z-index: -1;
}

.opportunities-container .vacancies:hover {
  color: white;
  &::before {
    width: 100%;
  }
}


/* CONTACT PAGE */
.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  background-image: url(/public/images/contact.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-header .contact-right h1 {
  text-align: center;
  font-family: "Philosopher", sans-serif;
  font-size: 25px;
  padding-top: 50px;
  color: #0095c8;
}

.form-div .p {
  padding: 50px 120px;;
  font-size: 18px;
  font-weight: bold;
  color: #004c65;
}

.form {
  display: flex;
  width: 100%;
  height: 50%;
  padding: 0 120px;
}

.form-left {
  width: 50%;
  height: 100%;
}

.form-left h1 {
  font-size: 26px;
  font-family: "Philosopher", sans-serif;
}

.form-left hr {
  width: 25%;
  height: 4px;
  border: none;
  margin: 10px 0;
  background-color: #366e83;
}

.form-left span {
  font-size: 20px;
  font-weight: bold;
}

.form-left p {
  padding-top: 12px;
  font-size: 18px;
  font-weight: 200;
  text-align: left;
}

.form-right {
  width: 50%;
  height: 100%;
  padding: 25px;
}

.form-right label {
  font-size: 15px;
  font-weight: 200;
  color: #828282;
}

.form-right input {
  width: 100%;
  border-bottom: 1px solid #828282;
}

.form-right textarea {
  width: 100%;
  border: 1px solid #828282;
  padding: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-right .button {
  display: inline-block;
  padding: 10px 14px;
  background-color: #004c65;
  color: white;
  text-align: center;
  font-size: 14px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.form-right .button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #feb404;
  transition: all .3s;
  z-index: -1;
}

.form-right .button:hover {
  color: white;
  &::before {
    width: 100%;
  }
}

.map-area {
  padding: 10px 120px;
}

/* FOOTER PAGE  */
.footer-container {
  display: flex;
  width: 100%;
  height: 30vh;
  padding: 0px 60px;
}

.footer-container .socials, .about, .curriculumn, .contact {
  width: 25%;
  height: 100%;
}

.footer-container .about, .curriculumn, .contact {
  text-align: center;
  padding-top: 50px;
}

.footer-container .socials {
  padding-top: 30px;
}

.footer-container .socials .social-icons {
  display: flex;
  margin-left: 60px;
  margin-top: 20px;
  gap: 12px;
}


.about h3, .curriculumn h3, .contact h3 {
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  margin-bottom: 8px;
}

.about a, .curriculumn a, .contact p {
  color: #828282;
}